body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background: white;
}

.left-section {
    flex: 1;
    background-image: url('/IMG/martin-masson-8FBr3z73Ymw-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.right-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

form input {
    width: 100%;
    max-width: 300px;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    max-width: 300px;
    background-color: #00bcd4;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

    form button:hover {
        background-color: #0097a7;
    }

form a:hover {
    text-decoration: underline;
}

h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Đảm bảo form luôn nằm gọn bên trong */
.right-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
