/* CSS */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('/IMG/martin-masson-8FBr3z73Ymw-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background: #ffff;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

    .header h2 {
        margin: 0;
        font-size: 24px;
    }

    .header span {
        margin-top: 5px;
        color: #555;
    }

/* Mô tả */
.description label {
    font-weight: bold;
    font-size: 16px;
}

.description-input {
    width: 98%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    resize: none;
    min-height: 70px;
}

#description-input::placeholder {
    color: #aaa;
    font-style: italic;
}

/* Ngày hết hạn */
.due-date-section label {
    font-weight: bold;
    font-size: 16px;
}

#due-date {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
}

.due-date-display {
    background-color: #fffae6;
    color: #333;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
}

/* Kết quả */
.activity label {
    font-weight: bold;
    font-size: 16px;
}

.activity-box {
    margin-top: 10px;
    background-color: #f4f5f7;
    padding: 10px;
    border-radius: 5px;
}

    .activity-box input {
        width: 95%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

/* Nút bên cạnh */
.side-panel {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

    .side-panel button {
        padding: 10px;
        background-color: #ebecf0;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .side-panel button:hover {
            background-color: #dfe1e6;
        }

/* Nút Xóa */
.delete-btn {
    margin-top: 20px;
    width: 100%;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

    .delete-btn:hover {
        background-color: #e33d3d;
    }
